.container {
  max-width: 700px;
  height: 90vh;
  margin: 5vh auto;
  color: #fff;

}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: rgb(80, 177, 177);
  letter-spacing: 4px;
  font-weight: 900;
}

.task-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  margin-left: 5%;
  margin-right: 5%;
}

input {
  min-width: 25vw;
  height: 3vh;
  border: 1px solid grey;
  padding-left: 5px;
  padding-right: 5px;
}

::-webkit-input-placeholder {
  font-style: italic;

}

.add {
  height: 3vh;
  min-width: 10vw;
  border: none;
  background-color: rgb(198, 207, 207);
  color: #fff;
  letter-spacing: 2px;
  font-weight: 800;
  cursor: pointer;
}

.add:hover {
  background-color: darkgrey;
  transition: .3s;
}

.items {
  min-height: 40vh;
}

li {
  margin-left: 5%;
  margin-right: 5%;
  padding: 5px;
  list-style: square;
  color: #000;
}

.remove {
  height: 3vh;
  min-width: 5vw;
  border: none;
  background-color: rgb(218, 146, 143);
  color: #fff;
  letter-spacing: 2px;
  font-weight: 800;
  cursor: pointer;
}

.remove:hover {
  background-color: rgb(235, 96, 96);
  transition: .3s;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: rgb(80, 177, 177);
}
